

<%=image_tag(@image)%>
<h1> <%=@name%> </h1>
<h2><%=@title%> </h2>
<h3><%=@blurb %> </h3>
<% if array.empty? %>
<h1> NO STATS FOR THIS CHAMPION <h1>
<% else %>
<ul> 
  <% array.each do |elem| %>
<li> <%=elem["statType"]%>:<%=elem["value"]%> </li>
<% end %>
</ul>
<% end %>