    
            <%=image_tag(@image, class: "img-news", style: "width:100%;")%>
            <div class="inside">
              <p class="post-date"><%=@title%></p>
              <h2><%=@name%></h2>
              <div class="entry-content">
                <p><%=@blurb%></p>
                 </div>
              <% if array.empty? %>
                <h3> NO STATS FOR THIS CHAMPION <h3>
              <% else %>
                 <% array.each do |elem| %>
                 <p> <%=elem["statType"]%>:<%=elem["value"]%> </p>
                 <% end %>
            </div>
                  <% end %>
         