<h1> MUDAFUCKIN SEARCH RESULTS </h1>


<div class="summoner" style="background-image:url(<%=@champ_images[0]%>)"> Summoner Name: <%=@search.summoner_name%> </div>

<% if @rank == "BRONZE" %>
<img src = "http://img3.wikia.nocookie.net/__cb20130928162132/leagueoflegends/images/thumb/b/b4/BronzeBadgeSeason2.png/120px-BronzeBadgeSeason2.png"/>
<div><%= @rank%> <%=@tier%></div>
<% elsif @rank == "SILVER" %>
<img src="http://img1.wikia.nocookie.net/__cb20130928162033/leagueoflegends/images/thumb/9/99/SilverBageSeason2.png/120px-SilverBageSeason2.png" />
<div><%=@rank%> <%=@tier%></div>
<% elsif @rank == "GOLD" %>
<img src="http://img2.wikia.nocookie.net/__cb20130928162204/leagueoflegends/images/thumb/7/77/GoldBadgeSeason2.png/120px-GoldBadgeSeason2.png" />
<div><%=@rank%> <%=@tier%></div>
<% elsif @rank == "PlATINUM" %>
<img src="http://img2.wikia.nocookie.net/__cb20130928162240/leagueoflegends/images/thumb/5/5f/PlatinumBadgeSeason2.png/120px-PlatinumBadgeSeason2.png" />
<div><%=@rank%> <%=@tier%></div>
<% elsif @rank == "DIAMOND" %>
<img src="http://img3.wikia.nocookie.net/__cb20130928162320/leagueoflegends/images/thumb/0/03/DiamondBadge.png/120px-DiamondBadge.png"/>
<div><%=@rank%> <%=@tier%></div>
<% elsif @rank == "CHALLENGER"%>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC5lqg7zKNwsfyeMk6_RfBLZYaeiqRXEoWpIOOrbYG7jKZF4J4HirhBnNc" />
<div><%=@rank%> <%=@tier%></div>
<% end %>


<h1> Recent Activity </h1>

<%@champ_images.each_with_index do |image, i| %>
<div>
<%=image_tag(image)%>
<ul>
<% @game_stats[i].each do |stats| %>
<% if stats["statType"] == "CHAMPIONS_KILLED" || stats["statType"] == "NUM_DEATHS" || stats["statType"] == "ASSISTS" %>
<li><%=stats["statType"]%>: <%=stats["value"]%></li>
<% end %>
<% end %>
</ul>
</div>
<% end %>

<h1>LIFETIME RANKED STATS</h1>

<% @champions.each do |champion| %>
<%=link_to(image_tag(champion.image), searches_update_path(:search_id => @search.id, :champion_name => champion.name), :method => :post, :remote => true) %>
<% end %>

  <h1> HERE ARE YOUR STATS </h1> 
<div class="stats">

  </div>


