<h1> MUDAFUCKIN SEARCH RESULTS </h1>

<h2> Summoner Name: <%=@search.summoner_name%> </h2>

<img src = "http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Aatrox.png"/>

<% if @aatrox.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@aatrox.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src = "http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Ahri.png"/>
<% if @ahri.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@ahri.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src = "http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Akali.png"/>
<% if @akali.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@akali.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Alistar.png"/>
<% if @alistar.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@alistar.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Amumu.png"/>
<% if @amumu.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@amumu.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Anivia.png"/>
<% if @anivia.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@anivia.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Annie.png"/>
<% if @annie.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@annie.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Ashe.png"/>
<% if @ashe.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@ashe.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Blitzcrank.png"/>
<% if @blitzcrank.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@blitzcrank.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Brand.png"/>
<% if @brand.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@brand.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Caitlyn.png"/>
<% if @caitlyn.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@caitlyn.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Cassiopeia.png"/>
<% if @cassiopeia.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@cassiopeia.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Chogath.png"/>
<% if @chogath.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@chogath.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Corki.png"/>
<% if @corki.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@corki.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Darius.png"/>
<% if @darius.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@darius.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Diana.png"/>
<% if @diana.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@diana.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/DrMundo.png"/>
<% if @drmundo.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@drmundo.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/DrMundo.png"/>
<% if @drmundo.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@drmundo.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Draven.png"/>
<% if @draven.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@draven.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Elise.png"/>
<% if @elise.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@elise.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Evelynn.png"/>
<% if @evelynn.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@evelynn.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>


<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Ezreal.png"/>
<% if @ezreal.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@ezreal.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Fiddlesticks.png"/>
<% if @fiddlesticks.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@fiddlesticks.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Fiora.png"/>
<% if @fiora.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@fiora.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Fizz.png"/>
<% if @fizz.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@fizz.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Galio.png"/>
<% if @galio.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@galio.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Gangplank.png"/>
<% if @gangplank.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@gangplank.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Garen.png"/>
<% if @garen.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@garen.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Gragas.png"/>
<% if @gragas.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@gragas.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Graves.png"/>
<% if @graves.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@graves.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Hecarim.png"/>
<% if @hecarim.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@hecarim.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Heimerdinger.png"/>
<% if @heimerdinger.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@heimerdinger.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Irelia.png"/>
<% if @irelia.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@irelia.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Janna.png"/>
<% if @janna.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@janna.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Jarvan.png"/>
<% if @jarvan.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@jarvan.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Jax.png"/>
<% if @jax.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@jax.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Jayce.png"/>
<% if @jayce.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@jayce.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Jinx.png"/>
<% if @jinx.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@jinx.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Karma.png"/>
<% if @karma.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@karma.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Karthus.png"/>
<% if @karthus.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@karthus.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Kassadin.png"/>
<% if @kassadin.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@kassadin.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Katarina.png"/>
<% if @katarina.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@katarina.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Kayle.png"/>
<% if @kayle.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@kayle.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Kennen.png"/>
<% if @kennen.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@kennen.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Khazix.png"/>
<% if @khazix.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@khazix.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/KogMaw.png"/>
<% if @kogmaw.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@kogmaw.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Leblanc.png"/>
<% if @leblanc.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@leblanc.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/LeeSin.png"/>
<% if @leesin.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@leesin.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Leona.png"/>
<% if @leona.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@leona.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Lissandra.png"/>
<% if @lissandra.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@lissandra.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Lucian.png"/>
<% if @lucian.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@lucian.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Lulu.png"/>
<% if @lulu.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@lulu.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Lux.png"/>
<% if @lux.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@lux.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Malphite.png"/>
<% if @malphite.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@malphite.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Malzahar.png"/>
<% if @malzahar.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@malzahar.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Maokai.png"/>
<% if @maokai.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@maokai.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/MasterYi.png"/>
<% if @masteryi.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@masteryi.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/MissFortune.png"/>
<% if @missfortune.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@missfortune.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Mordekaiser.png"/>
<% if @mordekaiser.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@mordekaiser.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Morgana.png"/>
<% if @morgana.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@morgana.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Nami.png"/>
<% if @nami.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@nami.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Nasus.png"/>
<% if @nasus.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@nasus.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Nautilus.png"/>
<% if @nautilus.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@nautilus.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Nidalee.png"/>
<% if @nidalee.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@nidalee.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Nocturne.png"/>
<% if @nocturne.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@nocturne.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Nunu.png"/>
<% if @nunu.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@nunu.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Olaf.png"/>
<% if @olaf.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@olaf.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Orianna.png"/>
<% if @orianna.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@orianna.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Pantheon.png"/>
<% if @pantheon.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@pantheon.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Poppy.png"/>
<% if @poppy.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@poppy.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Quinn.png"/>
<% if @quinn.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@quinn.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Rammus.png"/>
<% if @rammus.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@rammus.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Renekton.png"/>
<% if @renekton.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@renekton.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Rengar.png"/>
<% if @rengar.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@rengar.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Riven.png"/>
<% if @riven.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@riven.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Rumble.png"/>
<% if @rumble.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@rumble.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Ryze.png"/>
<% if @ryze.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@ryze.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Sejuani.png"/>
<% if @sejuani.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@sejuani.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Shaco.png"/>
<% if @shaco.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@shaco.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Shen.png"/>
<% if @shen.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@shen.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Shyvana.png"/>
<% if @shyvana.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@shyvana.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Singed.png"/>
<% if @singed.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@singed.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Sion.png"/>
<% if @sion.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@sion.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Sivir.png"/>
<% if @sivir.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@sivir.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Skarner.png"/>
<% if @skarner.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@skarner.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Sona.png"/>
<% if @sona.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@sona.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Soraka.png"/>
<% if @soraka.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@soraka.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Swain.png"/>
<% if @swain.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@swain.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Syndra.png"/>
<% if @syndra.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@syndra.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Talon.png"/>
<% if @talon.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@talon.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Taric.png"/>
<% if @taric.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@taric.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Teemo.png"/>
<% if @teemo.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@teemo.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Thresh.png"/>
<% if @thresh.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@thresh.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Tristana.png"/>
<% if @tristana.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@tristana.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Trundle.png"/>
<% if @trundle.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@trundle.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Tryndamere.png"/>
<% if @tryndamere.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@tryndamere.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/TwistedFate.png"/>
<% if @twistedfate.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@twistedfate.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Twitch.png"/>
<% if @twitch.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@twitch.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Kassadin.png"/>
<% if @udyr.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@udyr.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Urgot.png"/>
<% if @urgot.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@urgot.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Varus.png"/>
<% if @varus.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@varus.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Vayne.png"/>
<% if @vayne.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@vayne.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Veigar.png"/>
<% if @veigar.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@veigar.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Vi.png"/>
<% if @vi.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@vi.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Viktor.png"/>
<% if @viktor.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@viktor.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Vladimir.png"/>
<% if @vladimir.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@vladimir.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Volibear.png"/>
<% if @volibear.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@volibear.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Warwick.png"/>
<% if @warwick.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@warwick.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Wukong.png"/>
<% if @wukong.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@wukong.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Xerath.png"/>
<% if @xerath.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@xerath.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/XinZhao.png"/>
<% if @xin_zhao.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@xin_zhao.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Yasuo.png"/>
<% if @yasuo.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@yasuo.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Yorick.png"/>
<% if @yorick.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@yorick.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Zak.png"/>
<% if @zak.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@zak.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Zed.png"/>
<% if @zed.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@zed.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Ziggs.png"/>
<% if @ziggs.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@ziggs.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Zilean.png"/>
<% if @zilean.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@zilean.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>

<img src ="http://ddragon.leagueoflegends.com/cdn/4.9.1/img/champion/Zyra.png"/>
<% if @zyra.empty? %>
<div>No Stats for this Champion!</div>
<% else %>
<ul>
<%@zyra.each do |elem| %> 
<li><%=elem["statType"]%>: <%=elem["value"]%></li>
<% end %>
</ul> 
<% end %>
